/* Section Three support image box CSS */

.support-container {
  width: 100%;
  overflow: hidden;
  line-height: 1.2em;
  margin: -40px 0px 0 -9px;
}
.outer-container {
  background: #F6FBF8;
  box-shadow: 0px 34px 44px -20px rgba(185, 206, 234, 0.25);
  border-radius: 10px;


.inner-container {
  padding: 41px 31px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 19px;
  display: flex;
}

.image-container {
  width: 64px;
  height: 64px;
  position: relative;
}

.gradient-overlay {
  width: 50px;
  height: 9px;
  left: 14px;
  top: 51px;
  position: absolute;
  background: linear-gradient(89deg, rgba(196, 196, 196, 0) 18%, rgba(196, 196, 196, 0.90) 46%, rgba(196, 196, 196, 0) 70%);
  box-shadow: 25px 25px 25px;
  filter: blur(25px);
}
img {
  width: 64px;
  height: 64px;
}

.text-container {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.title {
  align-self: stretch;
  color: #F89D21;
  font-weight: 600;
  word-wrap: break-word;
  padding: 5px 5px 5px 5px;
}

.description {
  align-self: stretch;
  position: relative;
  bottom: 5px;
  left: 5px;
  word-wrap: break-word;
  
}
}